@import "../../variables";
@import "../../fonts";
.list {
    display: flex;
    width: 100%;
    font-family: $garamondBold;
    position: relative;
    z-index: 1;

    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    &_item {
        width: 25%;
        list-style: none;

        &_header {
            display: flex;
            justify-content: center;
            padding: 5px 10px;

            h3 {
                text-align: center;
                color: $daffodil-yellow;
                text-shadow: $electrician-lime 0 0 5px;
                font-size: 60px;
            }
        }

        &_description {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;

            .img_block {
                width: 50%;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .name_block {
                display: flex;
                justify-content: center;
                align-items: baseline;

                p {
                    color: $daffodil-yellow;
                    text-shadow: $electrician-lime 0 0 5px;
                    font-size: 50px;
                }

                button {
                    margin-left: 10px;
                }
            }

            .btn_block {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 15px;

                button {
                    border: solid 1px $yellow-broom;
                    border-radius: 10px;
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &_add {
                    background-color: rgba(0, 255, 0, 0.2);
                    margin-right: 10px;
                }

                &_delete {
                    background-color: rgba(255, 0, 0, 0.2);
                }
            }
        }

        @media (max-width: 1080px) {
            width: 75%;
            margin-bottom: 50px;
        }
    }

    @media (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
        border: none;
    }
}
